<div class="center jumbotron">
  <h1>Recipies</h1>
  
  <h2>Test App</h2>
  
  <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipies as a Guests User
    </h3>
    <h2 class ="left">
      Browse and view recipies as a guest anjd Sign up later.
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      View Recipies as a Guest User
    </h3>
    <h2 class ="left">
      Browse and view recipies as a guest anjd Sign up later.
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      View Recipies as a Guest User
    </h3>
    <h2 class ="left">
      Browse and view recipies as a guest anjd Sign up later.
    </h2>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
  
</div>